{% include base_path %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div style="display: flex;">
    <div style="width: 150px;">
        {% if post.date_range %}
            {{ post.date_range }}:
        {% else %}
            {{ post.date | date: "%Y" }}:
        {% endif %}
    </div>
    <div>
        {{ title }}SPACE_TEST_1{% if post.type %},SPACE_TEST_2{{ post.type }}SPACE_TEST_3{% endif %}
        ,SPACE_TEST_4{{ post.venue }}SPACE_TEST_5
        ,SPACE_TEST_6{{ post.location }}SPACE_TEST_7
    </div>
</div>
